[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "==20.8b1"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
requests = "*"
gunicorn = "*"
uvloop = "*"
httptools = "*"
typing-extensions = "*"
sentry-sdk = "*"
six = "*"
python-jose = "*"
pytz = "*"

[requires]
python_version = "3.8"
